/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --background-secondary: 210 40% 98%;
  --foreground-secondary: 215.4 16.3% 46.9%;
  --chat-user: 178 100% 29%;
  --chat-user-foreground: 0 0% 100%;
  --chat-assistant: 210 40% 96%;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 0 0% 100%;
  --background-secondary: 215 28% 17%;
  --foreground-secondary: 210 20% 85%;
  --chat-user: 178 100% 45%;
  --chat-user-foreground: 0 0% 100%;
  --chat-assistant: 210 40% 70%;
}